{% extends "base.html.twig" %}

{% block title %}Artykuły{% endblock %}

{% block content %}

    <article>
    <div class="container">    
      <div class="row">
        <div class="offset-md-2 col-md-8 offset-md-2">
            <header>
                <h1>Artykuły</h1>
            </header>

            {% for article in pagination %}
               <div class="bg-light-gray p-2 mt-2 mb-2" style="border-radius: 5px;">
                <div class="media">
                    {% if article.image is null %}
                        <img class="align-self-center mr-3" src="{{asset('img/minWbr.png')}}" alt="obraz wbr"/>
                    {% else %}
                        <img class="align-self-center mr-3" src="{{ asset('img/articles/min/'~article.image) }}" alt=""/>
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0">{{ article.title }}</h5>
                        <h6><strong>Kategoria </strong><a href="{{path('categoryArts', {'slug' : article.category.slug}) }}">{{ article.category.name }}</a></h6>
                        <div class="sub">{{ article.content|slice(0, 200)|raw }} [...]</div>

                    </div>
                </div>
                 <div class="text-right">
                 <a class="btn-lg btn-primary" href="{{ path('article', {'slug' : article.slug}) }}">Czytaj więcej</a>
                 </div>
                 </div>
            {% endfor %}



        </div>
      </div>
      <div class="offset-md-2 col-md-8 offset-md-2 align-self-center">
               {{ knp_pagination_render(pagination, 'pagination/pagination.html.twig') }}

      </div>
            

    </div>  
            

    </article>

{% endblock %}