{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/lightbox.css') }}">
{% endblock %}
{% block title %}{{projects.title }}{% endblock %}

{% block content %}
    
    
       <article>
                 <div class="projects">

    	<section>
		<header>
			<h1>{{ projects.title }}</h1>
        </header>
        
                        {{ projects.content|raw }}

	</section>
       {% set alt = projects.title %}                 
       {% if projects.images is not null %}                 
    <section>
    <header>
    <h1>Galeria zdjęć</h1>
    </header>

    <div class="galery">
        {% for image in projects.images %}
    <div class="miniatures">
		<a href="{{ asset('img/projects/'~image) }}" class="lightbox"  rel="lightbox"><img src="{{ asset('img/projects/min/'~image) }}" alt="Zdjęcie z galerii {{alt}}"></a>
		</div>
        {% endfor %}
    </div>

    </section>
    {% endif %}
       </div>

        </article>
   
   {% endblock %}
