{% extends "base.html.twig" %}

{% block title %}Przypomnij hasło{% endblock %}

{% block content %}
    
        <article id="newest">
     
        
            <div class="news">
                <header>
                    <h1 class="text-center">Przypomnij hasło</h1>
                </header>
                {{ form_errors(rememberForm) }}
                
        {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
        <div class="text-center alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
        <div class="login">
    
   
    
    {{ form_start(rememberForm, {'attr': {'novalidate': 'true'}}) }} 
    {{ form_row(rememberForm.email) }}
    {{ form_end(rememberForm) }}
    
                </div>
            </div>
        </article>
 {% endblock %}

 