{% extends 'admin/dashboard.html.twig' %}



{% block adminContent %}

    <header>
        <h2 class="text-center">Dodaj nowy projekt</h2>
    </header>

    {% if app.session.has('addProject') %}
        <div class="alert alert-success">{{ app.session.remove('addProject') }}</div>
    {% endif %}

    {{ form(formProjects, {'attr': {'novalidate': 'true', 'id' : 'projects_form'}}) }} 

{#    <output id="statusBar">Postęp wysyłania</output>#}
{#    <progress value="0" max="100" id="progressbar"></progress>#}
    
    <div id="delegate"></div>
    
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/jqueryui/jquery-ui.min.js')}}"></script>
    <script src="{{asset('js/ckeditor/ckeditor.js')}}"></script>
     <script src="{{ asset('js/fileSizeAlert.js') }}"></script>
    <script src="{{ asset('js/upload_1.js') }}"></script>
    <script>
        var send = document.querySelector('#projects_save');

        send.addEventListener('click', sendFiles, false);

    </script>

    <script>

        CKEDITOR.replace('projects_content');

        
    </script>
    
    <script>
    
    var form = $('#projects_form');
            
      form.fileSizeAlert({
          maxFileSize : 10000
      });      
    
    
    </script>
{% endblock %}

