{% macro menu() %}
    
    {%
         set items = [
                {'path' : 'home', 'name' : 'Strona Główna' },
               {'path' : 'articles', 'name' : 'Artykuły'},
               {'path' : 'projects', 'name' : 'Projekty'},
                {'path' : 'contact', 'name' : 'Kontakt' }
               
                
               
              ]
    %}
    
    
    
    <ul class="menu">
      
    {% for item in items %}
        {% if item['path'] != 'projects' %}
        <li><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
        {% else %}
        <li id="slidedown"><a href="#">Projekty <span class="glyphicon glyphicon-menu-down"></span></a>
        	<ol id="down">
                {% for project in print_projects_menu() %}
                    <li><a href="{{ path('show_projects', {'slug' : project.slug}) }}">{{ project.title }}</a></li>
                {% endfor %}
            </ol>
          </li>
          {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_USER') %}
    <li><a href="{{ path('logout') }}">Wyloguj</a></li> 
    {% endif %}
    
    </ul>
 {% endmacro %}